/*
  Tile styiling. Contains hover and active for chess-piece for mouse interaction.
*/

.tile {
	display: flex;
	place-content: center;
	width: 100px;
	height: 100px;
}

.tile .chess-piece {
	width: 100px;
	height: 100px;
	background-size: 90px;
	background-position: center;
	background-repeat: no-repeat;
}

.title .chess-piece:hover {
	cursor: grab;
}

.tile .chess-piece:active {
	cursor: grabbing;
}

.black-tile {
	background-color: #779556;
}

.white-tile {
	background-color: #ebecd0;
}

.tile img {
	width: 90px;
}
