/*
  Chess board display information. Uses a grid display with rows and columns. 
*/

/* CSS for Chessboard */
#chessboard-container {
  position: relative;
}

#chessboard {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 800px;
  height: 800px;
  background-color: rgb(228, 124, 222);
}

/* Styling for column labels */
.column-labels {
  position: absolute; /* Position the column labels absolutely */
  top: 800px; /* Align labels to the top */
  left: -10px; /* Align labels to the left */
  width: 110%; /* Occupy the full width of the container */
  display: flex; /* Use flexbox to align labels horizontally */
  justify-content: space-evenly; /* Space out labels evenly */
}

/* Styling for individual column label */
.column-label {
  font-size: 22px; /* Adjust label font size */
  font-weight: bold; /* Make labels bold */
  color: #ebecd0; /* Set label color */
  padding: 5px; /* Add padding for spacing */
}

/* Styling for row labels */
.row-labels {
  position: absolute; /* Position the row labels absolutely */
  top: -67px; /* Align labels to the top */
  left: -30px; /* Align labels to the left */
  height: 108%; /* Occupy the full height of the container */
  display: flex; /* Use flexbox to align labels vertically */
  flex-direction: column; /* Align labels vertically */
  justify-content: space-evenly; /* Space out labels evenly */
}

/* Styling for individual row label */
.row-label {
  font-size: 22px; /* Adjust label font size */
  font-weight: bold; /* Make labels bold */
  color: #ebecd0; /* Set label color */
  padding: 5px; /* Add padding for spacing */
}
