/*
  Chess board display information. Uses a grid display with rows and columns. 
*/

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 800px;
  height: 800px;
  background-color: blue;
}
